@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 100%;
		font-family: 'Inter', system-ui, sans-serif;
	}

	body {
		margin: 0;
		background-color: #f8faff;
		color: #0f172a;
		font-family: 'Inter', system-ui, sans-serif;
	}
}
